<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
    <title><%= title %></title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
	<script src="./server/controllers/appController.js"></script>
	<script src="./server/controllers/elementsController.js"></script>
	<script src="./server/factories/elementsFactory.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-app="elementsApp">
	<div ng-view></div>
	<div class='clear'></div>
	<div class="container" ng-controller='elementController'>
		<div class='drop_12'></div>
		<div ng-model="showme">
		<div ng-repeat="element in elements | orderBy:'number' | limitTo:35">
			<div class="click_space">
				<a href="#/{{element.number}}">{{element.small}}</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
  </body>
</html>