body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear{
	clear:both;
}

.click_space{
	font-size: 16px;
	border:1px solid black;
	width:10px;
	height:10px;
	float:left;
	padding:8px;
}

.click_space:hover{
	border:1px solid red;
	background: silver;
}

.card{
	width:600px;
	height:250px;
}

.card img{
	width:200px;
	height:200px;
	margin:10px;
	float:left;
/*	border:1px solid gray;*/
}

.card .description{
	width:325px;
	margin:10px 20px 20px 0px;
	float:right;
}

.card .descriptor{
	font-weight: bold;
	text-align: right;
	width:150px;
	margin-right:20px;
	float:left;
}

.card .detail{
	width:150px;
	float:left;
}
