<div class='card'>
<!-- <div class='card' ng-controller='elementController'> -->
	<img src="img/{{element.number}}.png" />
	<div class='description'>
		<div class='descriptor'><p>Name</p></div>
		<div class='detail'><p>{{element.name}}</p></div>
		<div class='clear'></div>
		<div class='descriptor'><p>Abbreviation</p></div>
		<div class='detail'><p>{{element.small}}</p></div>
		<div class='clear'></div>
		<div class='descriptor'><p>Atomic Number</p></div>
		<div class='detail'><p>{{element.number}}</p></div>
		<div class='clear'></div>
		<div class='descriptor'><p>Position</p></div>
		<div class='detail'><p>{{element.position}}</p></div>
		<div class='clear'></div>
	</div><!--end of div description-->
</div><!--end of div card-->
